/* Display utilities */
.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

/* Spacer utilities */
.spacer-17,
.spacer-15,
.spacer-13,
.spacer-12,
.spacer-11,
.spacer-8 {
  display: block;
}

.spacer-17 {
  height: var(--spacing-17);
}

.spacer-15 {
  height: var(--spacing-15);
}

.spacer-13 {
  height: var(--spacing-13);
}

.spacer-12 {
  height: var(--spacing-12);
}

.spacer-11 {
  height: var(--spacing-11);
}

.spacer-8 {
  height: var(--spacing-08);
}

/* Responsive utilities */
@media screen and (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
}

